@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid;
  border-color: #ffffff #0000;
  animation: s1 1s infinite;
}
@keyframes s1 {
  to {
    transform: rotate(0.5turn);
  }
}
